h1{
    margin-top:10px;
}
body{
    background-color: aliceblue;
}
#itemsLabel{
    font-size:larger;
    font-weight:bold;
}
.item{
    border-style:solid;
    padding:5px;
    border-radius:5px;
    margin:5px;
    text-align:center;
}