<div>
    <h2>Structure Directive</h2>
    <input type = "button" [value] = "b1" (click) = "change()">
    <div *ngIf = "flag">
        <h2>Welcome to Structure Directive code</h2>
    </div>
    <h3>Add Names</h3>
    <ul *ngFor = "let std of stdNames">
        <li>{{std}}</li>
    </ul>
    SkillName:<input type = "text" #sname/>
    <input type = "button" value = "add skill set" (click)= "addSkillName(sname.value)"/>
    <ul *ngFor = "let skil   al of skillNames">
        <li>{{skill}}</li>
    </ul>
    <ul *ngFor = "let emp of employees">
        <li>Id is {{emp.id}} Name is {{emp.name}} and salary is {{emp.salary}}</li>
        </ul>
     
</div>